.coin
    background-color #fff
    border 2px solid #fff
    border-radius 2em
    box-shadow color-1 -2em -2em 7.5em
    color color-1
    flex-shrink 0
    font-size 1rem
    margin 1em
    padding 3em
    transition opacity 400ms ease-out, transform 200ms ease-out
    width 80%

    +tablet()
        min-width 40%
        width auto

    &--loading
        background-color transparent
        border none
        box-shadow none
        display flex
        justify-content center

    &--fade-enter
        opacity 0
        transform scale(0.75) translateY(25%)
        z-index 1

    &--fade-enter-active
        opacity 1
        transform scale(1) translateY(0)

    &--fade-exit
        display none

    &__details
        font-size 1.4em

        +tablet()
            font-size 2.4em

    &__header
        align-items flex-start
        display flex

        &__heading
            flex 1 1 50%

        &__symbol
            color color-2
            display block
            font-size 0.75em

        &__icon
            background-color color-2
            background-image linear-gradient(135deg, color-3 10%, color-4 100%)
            border-radius 50%
            flex 1 1 3em
            max-width 3em
            padding 0.2em

            +tablet()
                flex-basis 4em
                max-width 4em
                padding 0.5em

    &__footer
        color color-2
        font-size 0.8em
