.nav
    font-size 1rem
    margin 1em

    &__items
        display flex
        flex-wrap wrap
        justify-content center

        +tablet()
            flex-wrap nowrap
            justify-content space-between

    &__item
        flex 1 0 14%
        margin 1em 2%
        max-width 14%

        +tablet()
            flex-basis 6%
            max-width 6%

    &__item-link
        align-items center
        border 2px solid transparent
        border-radius 50%
        box-shadow color-1 -1em -1em 7.5em
        display flex
        justify-content center
        padding 0.25em
        transform 0.2s ease-out
        transition background-color 0.5s ease-out, transform 0.3s ease-out

        +tablet()
            padding 0.5em

        &:focus
        &:hover
            transform scale(1.1)

        &:active
            transform scale(1.2)

        &--active
            background-color color-3
            background-image linear-gradient(135deg, color-3 10%, color-4 100%)
            border-color white
            transform scale(1.1)

    &__icon
        display flex
        height 100%
        width 100%

        svg
            height 100%
            width 100%
