.percent
    align-items center
    display inline-flex

    &__arrow
        align-items center
        border-radius 50%
        display inline-flex
        height 1em
        justify-content center
        margin 0 0.5em
        width 1em

        &--positive
            transform rotate(180deg)

    &__arrow-icon
        align-items center
        display flex
        height 100%
        justify-content center
        width 100%
