*
*:after
*:before
    box-sizing border-box

html
body
    height 100%
    margin 0
    padding 0
    width 100%

body
    background-color color-1
    background-image linear-gradient(135deg, color-1 10%, color-2 100%)
    height 100%

main
    align-items center
    display flex
    flex-shrink 1
    height 100%
    justify-content center
    overflow hidden
    width 100%

::selection
    background-color color-3
    color white

.tab-highlight
    :focus
        outline 4px dashed color-4

.root
    height 100%

.App
    display flex
    flex-direction column
    height 100%

.header
    flex-grow 0
    flex-shrink 1
    position relative
    width 100%
    z-index 1
