html
    font-size 62.5%

body
    color color-black
    font-family primary-font
    font-size 1.4em
    font-weight 400
    line-height 1.5

    +tablet()
        font-size 2.4em

h1
h2
h3
h4
h5
h6
    font-family heading-font
    font-weight 400
    line-height 1.1
    margin 0 0 0.25em
    padding 0

h1
    font-size 1.6em

    +tablet()
        font-size 2.2em

h2
    font-size 1.4em

    +tablet()
        font-size 2em

h3
h4
h5
h6
    font-size 1.2em

    +tablet()
        font-size 1.8em
